<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Stationery Store</title>
</head>

<body>
    <div class="box1">
        
        <a href="/home"><button class="btn bill-btn">Bill</button></a>
        <a href="/list"><button class="btn item-btn">Inventory</button></a>
        <a href="/docs"><button class="btn add-btn">Document</button></a>

        <br><br>

        <div>
            <table>
                <tr>
                    <th>S.no</th>
                    <th>ITEM NAME</th>
                    <th>PRICE</th>
                </tr>

                {% for i in data %}

                <tr>
                    {% set number = i[0] | int %}
                    <!--serial no of table column in item_list table-->
                    <td>{{ number }}</td>
                    <td>{{ i[2] }}</td>
                    <!--{i[2]} item_name column in item_list table-->
                    <td>₹{{ i[3] }}</td>
                    <!--{i[3]} item_proce column in item_list table-->
                    <td class="nostyle"><a href="/edit/{{ i[1] }}" class="nostyle edit-btn1">&#9998;</a></td>
                    <!--{i[1]} id column in item_list table-->
                    <td class="nostyle"><a href="/delete/{{ i[1] }}" class="nostyle delete-btn1">&#10006;</a></td>
                </tr>

                {% endfor %}
            </table>
        </div>
        <br>

        <div>
            <a href="/add"><button class="btn add-btn">Add</button></a>
        </div>
        <br>

        <div>
            <form action="/adding" method="post">
                <label for="item_name">Item Name</label>
                <input class="input-box1 " type="text" name="item_name" id="item_name" placeholder="Enter Item name here" required>
                <label for="item_price">Item Price</label>
                <input class="input-box2" type="text" name="item_price" id="item_price" placeholder="Enter Item price here" required>
                <input type="submit" name="" id="" value="Submit" class="btn submit-btn">
            </form>
        </div>

    </div>

</body>

</html>