<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="../static/images/stationery.png" type="image/x-icon">
    <title>Stationery Store</title>
</head>

<body>
    
    <div=class="box1">
        <a href="/home"><button>Bill</button></a>
        <a href="/list"><button>Inventory</button></a>
        <a href="/docs"><button class="btn add-btn">Document</button></a>
        <form action="/add_selected">
            <select name="select_item_id" id="select_item">
                {% for i in data %}
                <option value="{{i[1]}}">{{ i[3] }}</option>
                <!--{i[1]} id column in item_list table-->
                {% endfor %}
            </select>
            <input type="text" name="qty" id="qty" style="width: 20px; height: 15px;">
            <input type="submit" value="add">
        </form>

        {{ total }}

        </div>
</body>

</html>