<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stationery Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="../static/images/stationery.png" type="image/x-icon">
</head>

<body>
    <div class="box1">
        <a href="/home"><button class="btn bill-btn">Bill</button></a>
        <a href="/list"><button class="btn item-btn">Inventory</button></a>
        <a href="/docs"><button class="btn add-btn">Document</button></a>
        
        <br><br>
        
        <form action="/add_selected" method="post">
            <div class="mybox">
                <span class="myarrow"></span>
                <select name="select_item_id" id="select_item" title="Select an item ">
                    {% for i in data %}
                    <option value="{{i[1]}}">{{ i[2] }}</option>
                    <!--{i[1]} id column in item_list table-->
                    {% endfor %}
                </select>
            </div>
            <input title="Quantity" placeholder="Qty" type="text" name="qty" id="qty" style="width: 30px; height: 23px;" class="input-box2">
            <input type="submit" class="btn add-btn" value="add" title="Add in list">
        </form><br>
        <table>
            <tr>
                <th>S.No</th>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            {% for j in data2 %}
            <tr>
                {% set number = j[0] | int %}
                <td>{{ number }}</td>
                <td>{{ j[3] }}</td>
                <td>{{ j[4] }}</td>
                <td>₹{{ j[5] }}</td>
                <td class="nostyle"><a href="/delete_selection/{{ j[1] }}" class="nostyle delete-btn1">&#10006</a></td>
            </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>₹{{ total }}</td>
            </tr>

        </table><br>

        <a href="/generateBill"><button class="btn gen-btn" title="Generate the bill" >Generate bill</button></a> 
        <br><br>
        <p>Note: Press Ctrl+P after click the generateBill button to print the bill.</p>
    </div>
</body>

</html>