<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stationery Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="box1">
    <a href="/home" class="test"><button>BILL</button></a>
    <a href="/list"><button>ITEM LIST</button></a>
    <hr>
    <form action="/add_selected" method="post">
        <select name="select_item_id" id="select_item">
            {% for i in data %}
            <option value="{{i[1]}}">{{ i[2] }}</option>
            <!--{i[1]} id column in item_list table-->
            {% endfor %}
        </select>
        <input type="text" name="qty" id="qty" style="width: 20px; height: 15px;">
        <input type="submit" value="add">
    </form>
    <hr>
    <table>
        <tr>
            <th>S.No</th>
            <th>Item</th>
            <th>qty</th>
            <th>price</th>
        </tr>
        {% for j in data2 %}
        <tr>
            {% set number = j[0] | int %}
            <td>{{ number }}</td>
            <td>{{ j[3] }}</td>
            <td>{{ j[4] }}</td>
            <td>₹{{ j[5] }}</td>
            <td class="nostyle"><a href="/delete_selection/{{ j[1] }}" class="nostyle delete-btn1">&#10006</a></td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>₹{{ total }}</td>
        </tr>
        
    </table><br>

    <a href="/generateBill"><button>Generate bill</button></a>
    </div>
</body>

</html>