<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>{{ __company }}</title>
</head>

<body>
    <h1 class="h1-1">{{ __company }}</h1>

    <div class="box1">
        <a href="/home"><button class="btn bill-btn">Bill</button></a>
        <a href="/list"><button class="btn item-btn">Inventory</button></a>
        <a href="/docs"><button class="btn add-btn">Document</button></a>

        <br><br>
        <div>
            <table>
                <tr>
                    <th>S.no</th>
                    <th>Item Name</th>
                    <th>Price</th>
                </tr>

                {% for i in data %}

                <tr>
                    {% set number = i[0] | int %}
                    <!--serial no of table column in item_list table-->
                    <td>{{ number }}</td>
                    <td>{{ i[2] }}</td>
                    <!--{i[2]} item_name column in item_list table-->
                    <td>₹{{ i[3] }}</td>
                    <!--{i[3]} item_proce column in item_list table-->
                    <td class="nostyle"><a href="/edit/{{ i[1] }}" class="nostyle edit-btn1">&#9998;</a></td>
                    <!--{i[1]} id column in item_list table-->
                    <td class="nostyle"><a href="/delete/{{ i[1] }}" class="nostyle delete-btn1">&#10006;</a></td>
                </tr>

                {% endfor %}

            </table>
        </div>
        
        <br>

        <a href="/add"><button class="btn add-btn">Add</button></a>
    </div>

</body>

</html>